body {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: url("assets/images/background.jpg");
  background-size: cover;
}

app-root {
  margin: auto;
}

.button-fill>.ui-button {
  width: 100%;
}
