<table>
  <tr>
    <td>
      Select X:
    </td>
    <td>
      <p-radioButton name="x" value="-4" label="-4" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="-3" label="-3" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="-2" label="-2" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="-1" label="-1" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="0" label="0" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="1" label="1" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="2" label="2" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="3" label="3" [(ngModel)]="x" (click)="setX()"></p-radioButton>
      <p-radioButton name="x" value="4" label="4" [(ngModel)]="x" (click)="setX()"></p-radioButton>
    </td>
    <td rowspan="5">
      <canvas id="graph" width="300" height="300" (click)="graphClick($event)"></canvas>
    </td>
  </tr>
  <tr>
    <td>
      Enter Y:
    </td>
    <td>
      <input type="text" pKeyFilter="num" [(ngModel)]="y" (change)="setY()" />
    </td>
  </tr>
  <tr>
    <td>
      Select R:
    </td>
    <td>
      <p-radioButton name="r" value="1" label="1" [(ngModel)]="r" (click)="setR()"></p-radioButton>
      <p-radioButton name="r" value="2" label="2" [(ngModel)]="r" (click)="setR()"></p-radioButton>
      <p-radioButton name="r" value="3" label="3" [(ngModel)]="r" (click)="setR()"></p-radioButton>
      <p-radioButton name="r" value="4" label="4" [(ngModel)]="r" (click)="setR()"></p-radioButton>
    </td>
  </tr>
  <tr>
    <td>
      <img id="loading" src="assets/images/loading.gif" alt="oops" width="30" height="30" />
    </td>
    <td>
      <p-button label="Check" (onClick)="check()"></p-button>
    </td>
  </tr>
  <tr>
    <td class="spacer" colspan="2">
      <span id="error-msg" class="error">Неверные данные либо ошибка соединения с сервером</span>
    </td>
  </tr>
</table>
<p-button class="button-fill" label="History" (onClick)="historyClick()"></p-button>
<p-button class="button-fill" label="Logout" (onClick)="logoutClick()"></p-button>
