<span class="ui-float-label">
    <input id="user" type="text" pInputText [(ngModel)]="username"/>
    <label for="user">Username</label>
</span>
<span class="ui-float-label">
    <input id="password" type="text" pInputText [(ngModel)]="password"/>
    <label for="password">Password</label>
</span>
<p-button class="button-fill" label="Login" (onClick)="loginClick()"></p-button>
<span id="error1-msg" class="error">Ошибка соединения с сервером</span>
<span id="error2-msg" class="error">Ошибка авторизации</span>
