<span id="error-msg" class="error">Ошибка соединения с сервером</span>
<p-table [value]="points">
  <ng-template pTemplate="header">
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>R</th>
      <th>Result</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-point>
    <tr>
      <td>{{point.x}}</td>
      <td>{{point.y}}</td>
      <td>{{point.r}}</td>
      <td>{{point.result}}</td>
    </tr>
  </ng-template>
</p-table>
<p-button class="button-fill" label="Clear" (onClick)="clearClick()"></p-button>
<p-button class="button-fill" label="Back" (onClick)="backClick()"></p-button>
