<p-panel>
  <p-header>
    <span>Ткачёв Юрий</span>
    <span class="left-space">P3210</span>
    <span class="left-space">Вариант №51325643</span>
  </p-header>
  <router-outlet></router-outlet>
</p-panel>
